/*
 * -------------------------------------------------
 *  ExomeSeqPipe base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

params{

  containerPath = '' // Path to Singularity images
  docker = false // Don't use Docker to build buildContainers.nf
  help = false // Don't give help information
  markdup_java_options = '"-Xms4000m -Xmx7g"' //Established values for markDuplicate memory consumption, see issue PR #689 for details
  max_cpus = 16 // Base specifications
  max_memory = 128.GB // Base specifications
  max_time = 24000.h // Base specifications
}




process {



  cpus = { check_max( 20* task.attempt, 'cpus' ) }
  memory = { check_max( 64.GB * task.attempt, 'memory' ) }

  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  // Process-specific resource requirements

}
process.cache = 'deep'


