// config file for run analysis in new cluster 2


params{
      genomes {
            'hg19' {
            // index setting 
                  dbsnp       = "/data2/Public/GATK_data/hg19/dbsnp_138.hg19.vcf"
                  dbsnpIndex  = "${dbsnp}.idx"
                  genomeFile  = "/data2/Public/human/hg19/bwaIndex/genome.fa"
                  bwaIndex    = "${genomeFile}.{amb,ann,bwt,pac,sa}"
                  genomeDict  = "/data2/Public/GATK_data/hg19/genome.dict"
                  genomeIndex = "${genomeFile}.fai"
                  intervals   = "/data2/Public/human/hg19/exome_seq_bed/Exon_haplox.bed"
                  knownIndels = "/data2/Public/GATK_data/hg19/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg19.vcf"
                  knownIndelsIndex = "/data2/Public/GATK_data/hg19/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg19.vcf.idx"
                  knownTargetSnp = "/data2/Public/GATK_data/hg19/1000G_omni2.5.hg19.vcf"
                  knownTargetSnpIndex = "${knownTargetSnp}.idx"
            }
            'hg38' {
                  dbsnp       = ""
                  dbsnpIndex  = ""
                  genomeFile  = ""
                  bwaIndex    = ""
                  genomeDict  = ""
                  genomeIndex = ""
                  intervals   = ""
                  knownIndels = ""
                  knownIndelsIndex = ""
                  knownTargetSnp = ""
                  knownTargetSnpIndex = ""
            }

      }

// config file for FACET 
      facet_vcf = ''

// config file for EXCAVATOR
      excavatarHOME=''
// NGScheckmate file 
      
      NGScheckmatePTfile="/home/Public/Soft/NGScheckmate/NGSCheckMate/SNP/SNP.pt"

// config file for virus intergration analysis     


// store Dir for the first run 
      storedir="/home/Public/Database/ExomePipeDIR" // a dir that were config at the first run 

}
process.executor = 'pbs'

params {
    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 38
    max_time = 240.h
}