// config file for run analysis in new cluster 2


params{

      dbsnp       = "/home/zhaoqi/database/human/hg19/forGATK/dbsnp_138.hg19.vcf"
      dbsnpIndex  = "${dbsnp}.idx"
      genomeFile  = "/home/zhaoqi/database/human/hg19/bwaIndex/genome.fa"
      bwaIndex    = "${genomeFile}.{amb,ann,bwt,pac,sa}"
      genomeDict  = "/home/zhaoqi/database/human/hg19/bwaIndex/genome.dict"
      genomeIndex = "${genomeFile}.fai"
      intervals   = "/home/zhaoqi/database/human/hg19/targetV6/target_for_mutect.bed"
      knownIndels = "/home/zhaoqi/database/human/hg19/forGATK/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg19.vcf"
      knownIndelsIndex = "/home/zhaoqi/database/human/hg19/forGATK/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg19.vcf.idx"
      annovarDB    = "hg19"
      annovarDBpath = "/home/zhaoqi/software/annovar/humandb/"

// config parameter for FREEC
      freec_chrLen = '/home/Public/Soft/FREEC-11.3/lib_data/hg19/genome.fa.fai'
      freec_chrFile = '/home/Public/Soft/FREEC-11.3/lib_data/hg19/Chromosomes'
      freec_snpfile = '/home/Public/Soft/FREEC-11.3/lib_data/hg19/hg19_snp142.SingleDiNucl.1based.txt'
      freec_bedfile = "/home/zhaoqi/database/human/hg19/targetV6/target_for_mutect.bed"

// store Dir for the first run 
      storedir="/home/Public/Database/ExomePipeDIR" // a dir that were config at the first run 

}
process.executor = 'pbs'

params {
    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 38
    max_time = 240.h
}