// config file for run analysis in new cluster 2


params{

      dbsnp       = "/home/Public/Database/human/hg38/gatk/node1/dbsnp_146.hg38.vcf"
      dbsnpIndex  = "${dbsnp}.idx"
      genomeFile  = "/home/Public/Database/human/hg38/gatk/node1/Homo_sapiens_assembly38.fa"
      bwaIndex    = "/home/Public/Database/human/hg38/Gencode/BWA_Index/GRCh38.{amb,ann,bwt,pac,sa}"
      genomeDict  = "/home/Public/Database/human/hg38/gatk/node1/Homo_sapiens_assembly38.dict"
      genomeIndex = "${genomeFile}.fai"
      intervals   = "/home/Public/Soft/FREEC-11.3/lib_data/hg38/SureSelect_Human_All_Exon_V6_Regions_merged_hg38.bed"
      knownIndels = "/home/Public/Database/human/hg38/gatk/node1/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg38.vcf"
      knownIndelsIndex = "/home/Public/Database/human/hg38/gatk/node1/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg38.vcf.idx"
      annovarDB    = "hg38"
      annovarDBpath = "/home/Public/Soft/Annovar/humandb/"
      annovarProtocol= "refGene,cosmic70,avsnp147,ALL.sites.2015_08,EAS.sites.2015_08,esp6500siv2_all,exac03,ljb26_all,clinvar_20161128"
      annovarOperation="g,f,f,f,f,f,f,f,f"

// config parameter for FREEC
      freec_chrLen = '/home/Public/Soft/FREEC-11.3/lib_data/hg38/GRCh38.fa.fai'
      freec_chrFile = '/home/Public/Soft/FREEC-11.3/lib_data/hg38/chromosomes'
      freec_snpfile = '/home/Public/Soft/FREEC-11.3/lib_data/hg38/All_20170710_selected.txt'
      freec_bedfile = "/home/Public/Soft/FREEC-11.3/lib_data/hg38/SureSelect_Human_All_Exon_V6_Regions_merged_hg38.bed"

// config file for FACET 

      facet_vcf = ''

// NGScheckmate file 
      
      NGScheckmatePTfile="/home/Public/Soft/NGScheckmate/NGSCheckMate/SNP/SNP.pt"


// store Dir for the first run 
      storedir="/home/Public/Database/ExomePipeDIR" // a dir that were config at the first run 

}
process.executor = 'pbs'

params {
    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 38
    max_time = 240.h
}