params{

      dbsnp       = "/home/GuoHuangChun/wes_project/database/human/hg19/forGATK/dbsnp_138.hg19.vcf"
      dbsnpIndex  = "${dbsnp}.idx"
      genomeFile  = "/home/GuoHuangChun/wes_project/database/human/hg19/forGATK/genome.fa"
      bwaIndex    = "/home/GuoHuangChun/wes_project/database/human/hg19/forGATK/genome.fa.{amb,ann,bwt,pac,sa}"
      genomeDict  = "/home/GuoHuangChun/wes_project/database/human/hg19/forGATK/genome.dict"
      genomeIndex = "${genomeFile}.fai"
      intervals   = "/home/GuoHuangChun/wes_project/database/human/hg19/forGATK/haplox-hg19-chr17.bed"
      knownIndels = "/home/GuoHuangChun/wes_project/database/human/hg19/forGATK/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg19.vcf"
      knownIndelsIndex = "/home/GuoHuangChun/wes_project/database/human/hg19/forGATK/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg19.vcf.idx"


// config parameter for FREEC
      freec_chrLen = '/home/Public/Soft/FREEC-11.3/lib_data/hg38/GRCh38.fa.fai'
      freec_chrFile = '/home/Public/Soft/FREEC-11.3/lib_data/hg38/chromosomes'
      freec_snpfile = '/home/Public/Soft/FREEC-11.3/lib_data/hg38/All_20170710_selected.txt'
      freec_bedfile = "/home/Public/Soft/FREEC-11.3/lib_data/hg38/SureSelect_Human_All_Exon_V6_Regions_merged_hg38.bed"

// config file for FACET 

      facet_vcf = ''
// config vep 
       annotator = "vep"
       vepDB = "/data2/GuoHuangChun/database/vep/"

// NGScheckmate file 
      
      NGScheckmatePTfile="/home/Public/Soft/NGScheckmate/NGSCheckMate/SNP/SNP.pt"


// store Dir for the first run 
      storedir="/home/Public/Database/ExomePipeDIR" // a dir that were config at the first run 

}

params {
    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 38
    max_time = 240.h
}